:root {
  --dark: purple;
  --light: lavender;
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--dark);
}

.header h1 {
  color: var(--light);
  font-size: 350%;
  padding-left: 50px;
}

.header nav {
  display: block;
  font-size: 150%;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 30px;
}

.header nav ul {
  list-style-type: none;
  display: flex;
}

.header nav ul li a {
  color: var(--light);
  text-decoration: none;
  margin: 0px 10px 0px 10px;
  padding-bottom: 5px;
  border-bottom: 5px solid var(--light);
}

#headshot {
  margin: 50px;
  width: 250px;
  height: 250px;
  border: 3px solid black;
  border-radius: 100%;
  box-shadow: 5px 5px 5px grey;
}

.subhead {
  display: flex;
  justify-content: center;

  align-items: center;
}

h3 {
  font-size: 300%;
  text-align: right;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -17px;
}

.about-me p {
  width: 1000px;
  border-left: 5px solid var(--dark);
  padding: 10px 0 10px 30px;
  margin-left: 30px;
}

.work {
  display: flex;
  justify-content: center;
}

.workbox img {
  border: 5px solid var(--dark);
}

.workbox img:hover {
  opacity: 1;
  transition: 0.5s ease;
  cursor: pointer;
}

.workbox {
  box-sizing: content-box;
  border-left: 5px solid var(--dark);
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 2%;
  width: 900px;
}

.proj1 {
  position: relative;
  display: flex;
  margin: 2px;
}

.overlay {
  position: absolute;
  bottom: 30px;
  left: 5px;
  background-color: var(--dark);
  color: var(--light);
  font-size: large;
  padding: 10px;
}

.overlaymini {
  background-color: var(--dark);
  color: var(--light);
  font-size: large;
  padding: 10px;
  position: absolute;
}

#first-project {
  width: 800px;
}

.small-project {
  width: 393px;
}

.small-project a {
  width: 393px;
  padding: 5px;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -90px;
}

.contact .info {
  width: 1000px;
  display: inline-flex;
  justify-content: space-between;
  margin-left: 30px;
  border-left: 5px solid var(--dark);
}

.info ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.info ul li a {
  color: var(--dark);
  text-decoration: none;
  margin: 0px 70px 0px 70px;
  border-bottom: 5px solid var(--dark);
  padding-bottom: 5px;
}

/* .contact p {
  padding-top: 40px;
} */

@media screen and (max-width: 768px) {
  * {
    text-align: center;
  }
  header {
    flex-direction: column;
    text-align: center;
  }
  .header h1 {
    padding-left: 0px;
  }
  .header nav {
    line-height: 45px;
  }
  .header nav ul {
    display: block;
    margin: 0px 10px 0px 10px;
    text-align: center;
    margin: auto;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .subhead {
    flex-direction: column;
  }
  h3 {
    text-align: center;
  }
  .about-me {
    flex-direction: column;
  }
  .about-me p {
    display: flex;
    width: 750px;
    border-left: 0px;
    border-top: 5px solid var(--dark);
    margin-top: 20px;
    margin: 30px;
  }
  .work {
    flex-direction: column;
  }
  .workbox {
    flex-direction: column;
    margin: 5px;
    border-left: 0;
    border-top: 5px solid var(--dark);
    width: 104%;
    padding-top: 20px;
  }

  .proj1 a img {
    width: 750px;
  }
  .contact {
    flex-direction: column;
  }
  .contact .info {
    width: fit-content;
    text-align: center;
    justify-content: space-around;
    margin: 0;
    border-left: 0;
    border-top: 5px solid var(--dark);
  }
  .info ul {
    display: block;
    line-height: 250%;
  }
}
